List is a inbuilt data structure which is used to store data in sequence/order and it is mutable in nature and they can contain element of any data type.

In [1]:
lst=[]
print(type(lst))

<class 'list'>

In [2]:
name=["Manu","Anu","Khushi","Salony",1,2,3,4]
print(name)

['Manu', 'Anu', 'Khushi', 'Salony', 1, 2, 3, 4]

In [3]:
mixed_list=[1,'manu',4.5,True]
print(mixed_list)

[1, 'manu', 4.5, True]

In [4]:
name=["Manu","Anu","Khushi","Salony",1,2,3,4]
for i in name:
    print(i)

Manu
Anu
Khushi
Salony
1
2
3
4

In [5]:
name[1:]

['Anu', 'Khushi', 'Salony', 1, 2, 3, 4]

In [6]:
name[1:4]

['Anu', 'Khushi', 'Salony']

In [7]:
name[1:6:2]

['Anu', 'Salony', 2]

In [8]:
name[-1::-1]

[4, 3, 2, 1, 'Salony', 'Khushi', 'Anu', 'Manu']

In [9]:
name[-1:1:-2]

[4, 2, 'Salony']

In [10]:
name[-1:-3]

[]

In [11]:
##list methods

name.append("Punam")

In [12]:
print(name)

['Manu', 'Anu', 'Khushi', 'Salony', 1, 2, 3, 4, 'Punam']

In [13]:
name.insert(1,"Ruchi")

In [14]:
print(name)

['Manu', 'Ruchi', 'Anu', 'Khushi', 'Salony', 1, 2, 3, 4, 'Punam']

In [15]:
name.remove(4)

In [16]:
print(name)

['Manu', 'Ruchi', 'Anu', 'Khushi', 'Salony', 1, 2, 3, 'Punam']

In [17]:


popped_name = name.pop()

print("Popped name:", popped_name)
print("Updated list:", name)

Popped name: Punam
Updated list: ['Manu', 'Ruchi', 'Anu', 'Khushi', 'Salony', 1, 2, 3]

In [18]:
name.index("Anu")

2

In [19]:
for index,names in enumerate (name):
    print(index,names)

0 Manu
1 Ruchi
2 Anu
3 Khushi
4 Salony
5 1
6 2
7 3

In [22]:
lst=[]
for x in range(10):
    lst.append(x**2)

In [23]:
  print(lst)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [24]:
##comprehenshion
[x**2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
[x for x in range(100) if x%2]

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]