PANDAS DATAFRAME AND SERIES
Pandas is a powerful data manipulation library in python, widely used for data analysis and data cleaning. It provides teo primary data structures: series and dataframe. A series is a one dimensional array like object. while a dataframe is a two dimensional, size mutable , and potentially heterogeneous tabular datastructure with labled axwa(rows and columns)

In [13]:
pip install pandas

Requirement already satisfied: pandas in c:\users\manu\appdata\local\programs\python\python310\lib\site-packages (2.3.1)
Requirement already satisfied: pytz>=2020.1 in c:\users\manu\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\manu\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: numpy>=1.22.4 in c:\users\manu\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\manu\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\manu\appdata\local\programs\python\python310\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 25.1.1 is available.
You should consider upgrading via the 'c:\Users\Manu\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [14]:
import pandas as pd

In [15]:
## series 
## A series is a one-dimensional array-like object that can hold any data type. It has an index that labels each element, allowing for easy access and manipulation of the data.
import pandas as pd

data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(data)   # lowercase 'series'
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [16]:
## create series from a dictionary
data={'a':1, 'b':2, 'c':3, 'd':4, 'e':5}
pd_series = pd.Series(data)
print(pd_series)

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [17]:
data=[10,20,30,40,50]
index=['a','b','c','d','e']
pd.Series(data, index=index)

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [21]:
## DATAFRAME
## A DataFrame is a two-dimensional, size-mutable, potentially heterogeneous tabular data structure
import pandas as pd
## CREATE A DATAFRAME FROM A DICTIONARY OF LIST
data={
    'Name':['Manu','Rahul','Harsh','Rudraksh'],
    'Age':[20,21,22,23],
    'City':['Delhi','Mumbai','Bangalore','Chennai']
    
}
df = pd.DataFrame(data)
print(df)
print(type(df))

       Name  Age       City
0      Manu   20      Delhi
1     Rahul   21     Mumbai
2     Harsh   22  Bangalore
3  Rudraksh   23    Chennai
<class 'pandas.core.frame.DataFrame'>

In [22]:
import numpy as np
np.array(df)

array([['Manu', 20, 'Delhi'],
       ['Rahul', 21, 'Mumbai'],
       ['Harsh', 22, 'Bangalore'],
       ['Rudraksh', 23, 'Chennai']], dtype=object)

In [25]:
## Create a DataFrame from list of Dictonaries
data = [
    {'Name': 'Manu', 'Age': 20, 'City': 'Delhi'},
    {'Name': 'Rahul', 'Age': 21, 'City': 'Mumbai'},
    {'Name': 'Harsh', 'Age': 22, 'City': 'Bangalore'},
    {'Name': 'Rudraksh', 'Age': 23, 'City': 'Chennai'}
]
df=pd.DataFrame(data)
print(df)

       Name  Age       City
0      Manu   20      Delhi
1     Rahul   21     Mumbai
2     Harsh   22  Bangalore
3  Rudraksh   23    Chennai

In [27]:
df=pd.read_csv('D:\data science\DataAnalysiswithpython\Details.csv')

In [28]:
print(df.head())  # Display the first few rows of the DataFrame

  Order ID  Amount  Profit  Quantity     Category      Sub-Category  \
0  B-25681    1096     658         7  Electronics  Electronic Games
1  B-26055    5729      64        14    Furniture            Chairs
2  B-25955    2927     146         8    Furniture         Bookcases
3  B-26093    2847     712         8  Electronics          Printers
4  B-25602    2617    1151         4  Electronics            Phones

   PaymentMode
0          COD
1          EMI
2          EMI
3  Credit Card
4  Credit Card

In [29]:
print(df.tail())

     Order ID  Amount  Profit  Quantity     Category Sub-Category PaymentMode
1495  B-25700       7      -3         2     Clothing  Hankerchief         COD
1496  B-25757    3151     -35         7     Clothing     Trousers         EMI
1497  B-25973    4141    1698        13  Electronics     Printers         COD
1498  B-25698       7      -2         1     Clothing  Hankerchief         COD
1499  B-25993    4363     305         5    Furniture       Tables         EMI

In [30]:
df['Order ID']

0       B-25681
1       B-26055
2       B-25955
3       B-26093
4       B-25602
         ...
1495    B-25700
1496    B-25757
1497    B-25973
1498    B-25698
1499    B-25993
Name: Order ID, Length: 1500, dtype: object

In [31]:
df.loc[0]

Order ID                 B-25681
Amount                      1096
Profit                       658
Quantity                       7
Category             Electronics
Sub-Category    Electronic Games
PaymentMode                  COD
Name: 0, dtype: object

In [33]:
df.iloc[0]

Order ID                 B-25681
Amount                      1096
Profit                       658
Quantity                       7
Category             Electronics
Sub-Category    Electronic Games
PaymentMode                  COD
Name: 0, dtype: object

In [34]:
## accessing a speicfies element in a DataFrame
df

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,PaymentMode
0,B-25681,1096,658,7,Electronics,Electronic Games,COD
1,B-26055,5729,64,14,Furniture,Chairs,EMI
2,B-25955,2927,146,8,Furniture,Bookcases,EMI
3,B-26093,2847,712,8,Electronics,Printers,Credit Card
4,B-25602,2617,1151,4,Electronics,Phones,Credit Card
...,...,...,...,...,...,...,...
1495,B-25700,7,-3,2,Clothing,Hankerchief,COD
1496,B-25757,3151,-35,7,Clothing,Trousers,EMI
1497,B-25973,4141,1698,13,Electronics,Printers,COD
1498,B-25698,7,-2,1,Clothing,Hankerchief,COD
1499,B-25993,4363,305,5,Furniture,Tables,EMI

In [35]:
df['Order ID']

0       B-25681
1       B-26055
2       B-25955
3       B-26093
4       B-25602
         ...
1495    B-25700
1496    B-25757
1497    B-25973
1498    B-25698
1499    B-25993
Name: Order ID, Length: 1500, dtype: object

In [36]:
df.at[1, 'Order ID']  # Accessing a specific element using label-based indexing

'B-26055'

In [38]:
## accesing specified element using iat
df.iat[1, 5]  # Accessing a specific element using integer-based indexing

'Chairs'

In [44]:
df # Drop the 'Sub-Category' column from the DataFrame

     Order ID  Amount  Profit  Quantity     Category  PaymentMode
0     B-25681    1096     658         7  Electronics          COD
1     B-26055    5729      64        14    Furniture          EMI
2     B-25955    2927     146         8    Furniture          EMI
3     B-26093    2847     712         8  Electronics  Credit Card
4     B-25602    2617    1151         4  Electronics  Credit Card
...       ...     ...     ...       ...          ...          ...
1495  B-25700       7      -3         2     Clothing          COD
1496  B-25757    3151     -35         7     Clothing          EMI
1497  B-25973    4141    1698        13  Electronics          COD
1498  B-25698       7      -2         1     Clothing          COD
1499  B-25993    4363     305         5    Furniture          EMI

[1500 rows x 6 columns]

In [45]:
df['Quantity']=df['Quantity']+1

In [46]:
df['Quantity']

0        8
1       15
2        9
3        9
4        5
        ..
1495     3
1496     8
1497    14
1498     2
1499     6
Name: Quantity, Length: 1500, dtype: int64

In [47]:
##describe dataframes
df.describe()  # Get a summary of statistics for numerical columns

            Amount      Profit     Quantity
count  1500.000000  1500.00000  1500.000000
mean    291.847333    24.64200     4.743333
std     461.924620   168.55881     2.184942
min       4.000000 -1981.00000     2.000000
25%      47.750000   -12.00000     3.000000
50%     122.000000     8.00000     4.000000
75%     326.250000    38.00000     6.000000
max    5729.000000  1864.00000    15.000000